.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}


.video-files, .video-player {
  padding-right: 2%;
  width: 48%; 
  max-height: fit-content;
  
}

.video-player video {
  width: 100%;
  background-color: #e9e9e9;
  
}

.video-files {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(77, 76, 76, 0.1);
  padding-left: 2%;
}

.video-files h2 {
  
  margin-bottom: 10px;
  color: rgb(41, 41, 108);
}

.video-files ul {
  list-style: none;
  padding: 0;
}

.video-files ul li:hover{
  background-color: #e9ecef;
}

.video-files ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e1e1;
  padding: 10px 0;
}

.video-files ul li span {
  flex: 1;
}

.video-files ul li button {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: white;
}
.video-files ul li button:hover{
  background-color: #e9ecef;
}
.video-files ul li:hover button {
  background-color: #e9ecef;
}
.video-files {
  font-family: Arial, sans-serif;
}

.video-files h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.video-files ul {
  list-style: none;
  padding: 0;
}

.video-files ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 0;
}

.video-files ul li span {
  flex: 1;
}

.video-files ul li button {
  border: none;

}
